<mat-list *ngFor="let student of students">
  <mat-list-item role="listitem">Student FirstName: {{student.firstName}}</mat-list-item>
  <mat-list-item role="listitem">Student LastName: {{student.firstName}}</mat-list-item>
  <mat-list-item role="listitem">Student Email{{student.email}}</mat-list-item>
  <mat-list-item role="listitem">Student Studying Year{{student.studyingYear}}</mat-list-item>
  <button (click)="deleteStudent(student.id)">Delete student</button>
</mat-list>
<div>
  <button> Add student </button>
</div>
