@model proiect.Models.Producator

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NumeProducator" class="control-label"></label>
        <input asp-for="NumeProducator" class="form-control" />
        <span asp-validation-for="NumeProducator" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Imagine" class="control-label"></label>
        <input asp-for="Imagine" class="form-control" />
        <span asp-validation-for="Imagine" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bio" class="control-label"></label>
        <textarea asp-for="Bio" class="form-control"></textarea>
        <span asp-validation-for="Bio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
