<mat-card>
  <p>Register</p>
  <form [formGroup]="registerForm">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="userName" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <br />
  <button mat-raised-button (click)="checkForm()">Submit</button>

  <mat-card>
    <p>Directives</p>
    <p appMouseEvents> Mouse events </p>
    <br />
    <hr />
    <img [src] = "imageUrl" [appImagePreloader]="imageUrl" />
  </mat-card>

  <mat-card>
    <p>Pipes</p>
    <p>{{value | demo}}</p>
  </mat-card>
</mat-card>
