@model proiect.Models.Cinema

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Cinema</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nume Cinema:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeCinema)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Descriere:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descriere)
        </dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="IdCinema" />
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
